<div class="category-section box-shadow">
  <div class="mobile-box">
    <ul>
      <li>
        Category
      </li>
    </ul>
  </div>
  <div class="category-section-title">
    <h2>
      All categories
    </h2>
  </div>
  <div class="category-section-item">
    <ul>
      {{#each categories}}
        <li>
          <a href="category-page.html">
            {{this.name}}
            <span class="category-toggle-icon">
              <i class="fas fa-chevron-down"></i>
            </span>
          </a>
          <ul class="category-section-dropdown">
            {{#each this.subCategories}}
              <li>
                <a href="category-sub-page.html">
                  {{this.name}}
                </a>
              </li>
            {{/each}}
          </ul>
        </li>
      {{/each}}
    </ul>
  </div>
</div>