<footer>
  <div class="container">
    <div class="footer-content">
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <div class="footer-item">
            <div class="footer-brand">
              <figure>
                <img src="assets/images/logo-footer.png" alt="appifylab" />
              </figure>
            </div>
            <div class="footer-details">
              <p>
                ShopNow is an online shop that makes shopping easy. Order online or visit one of our Hubs or Agents to place your order, pick up your delivery or get any after sales service you need!
              </p>
              <div class="footer-phone">
                <h4>
                  <a href="">
                    Phone:
                    <span class="phone-num">
                      +88 0173-919 0430
                    </span>
                  </a>
                </h4>
              </div>
              <div class="footer-social">
                <ul>
                  <li>
                    <a href="#">
                      <span>
                        <i class="fab fa-facebook-square"></i>
                      </span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span>
                        <i class="fab fa-linkedin"></i>
                      </span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-3">
          <div class="footer-item">
            <div class="footer-title">
              <h4>
                ShopNow
              </h4>
            </div>
            <div class="footer-details">
              <ul class="footer-list">
                <li>
                  <a href="/about">
                    <span>
                      <i class="fas fa-chevron-right"></i>
                    </span>
                    About
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-3">
          <div class="footer-item">
            <div class="footer-title">
              <h4>
                Help
              </h4>
            </div>
            <div class="footer-details">
              <ul class="footer-list">
                <li>
                  <a href="">
                    <span>
                      <i class="fas fa-chevron-right"></i>
                    </span>
                    Cancelletion & returns
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-3">
          <div class="footer-item">
            <div class="footer-title">
              <h4>
                Payment
              </h4>
            </div>
            <div class="footer-details">
              <!-- <ul class="footer-list-img">
                                        <li><img src="assets/images/bkash.svg" alt="appifylab"></li>
                                        <li><img src="assets/images/rocket.svg" alt="appifylab"></li>
                                    </ul> -->
              <ul class="footer-list-img">
                <!-- <li><img src="assets/images/cc-dbbl.svg" alt="appifylab"></li> -->
                <li>
                  <img src="assets/images/cc-visa.svg" alt="appifylab" />
                </li>
                <li>
                  <img src="assets/images/cc-mastercard.svg" alt="appifylab" />
                </li>
                <li>
                  <img src="assets/images/cc-amex.svg" alt="appifylab" />
                </li>
              </ul>
              <ul class="footer-list-img">
                <li class="footer-list-img-big">
                  <img
                    src="assets/images/cash-on-delivery.svg"
                    alt="appifylab"
                  />
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom text-center">
        <div class="footer-add">
          <p>
            Latif Monjil, Modina Market, Sylhet.
          </p>
        </div>
        <div class="footer-bottom-list">
          <div class="footer-bottom-list-left">
            <ul>
              <li>
                <a href="">
                  Return Policy
                </a>
              </li>
              <li>
                ·
              </li>
              <li>
                <a href="">
                  Tearms of Use
                </a>
              </li>
              <li>
                ·
              </li>
              <li>
                <a href="">
                  Privacy Policy
                </a>
              </li>
            </ul>
          </div>
          <div class="footer-bottom-list-right">
            <p>
              © 2019 ShopNow Technology Ltd.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>