<header class="mt-67">
  <div class="container">
    <div class="header-carousel">
      <div class="header-owl-carousel owl-carousel owl-theme">
        <div class="item">
          <div class="header-carousel-img">
            <figure>
              <img src="/assets/images/agent.jpg" alt="appifylab" />
            </figure>
            <div class="header-carousel-caption">
              <div class="header-caption-text">
                <p>
                  Order online and pickup from your nearest
                </p>
                <figure>
                  <img src="/assets/images/agentnew.png" alt="appifylab" />
                </figure>
              </div>
              <div class="header-caption-button">
                <button>
                  Find your nearest dgAgent
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="header-carousel-img">
            <figure>
              <img src="/assets/images/ban3.jpg" alt="appifylab" />
            </figure>
            <div class="header-carousel-caption">
              <div class="header-caption-text">
                <p>
                  Order online and pickup from your nearest
                </p>
                <figure>
                  <img src="/assets/images/appHub.png" alt="appifylab" />
                </figure>
              </div>
              <div class="header-caption-button">
                <button>
                  Find your nearest dgAgent
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="header-carousel-img">
            <figure>
              <img src="/assets/images/background3.jpeg" alt="appifylab" />
            </figure>
            <div class="header-carousel-caption">
              <div class="header-caption-text">
                <p>
                  Order online and get easy
                </p>
                <figure>
                  <img src="/assets/images/hd.png" alt="appifylab" />
                </figure>
              </div>
              <div class="header-caption-button">
                <button>
                  Set delivery address
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="custom-dots" class="owl-dots">
        <div class="owl-dot">
          <figure>
            <img src="/assets/images/store.png" alt="appifylab" />
          </figure>
        </div>
        <div class="owl-dot">
          <figure>
            <img src="/assets/images/house.png" alt="appifylab" />
          </figure>
        </div>
        <div class="owl-dot">
          <figure>
            <img src="/assets/images/delivery-truck.png" alt="appifylab" />
          </figure>
        </div>
      </div>
    </div>
  </div>
</header>