<section class="main-section">
  <div class="container">
    <div class="about-section">
      <div class="container">
        <div class="about-section-top">
          <div class="row">
            <div class="col-md-offset-1 col-sm-offset-1 col-md-7 col-sm-7">
              <h1>
                Welcome to the
              </h1>
              <h2>
                Future of shopping...
              </h2>
              <p>
                ShopNow is an online shop that makes shopping easy. Order online or visit one of our Hubs or Agents to
                place your order, pick up your delivery or get any after sales service you need!
              </p>
            </div>
          </div>
        </div>
        <div class="about-banner">
          <figure>
            <img src="assets/images/about.png" alt="" />
          </figure>
        </div>
        <div class="about-section-bottom">
          <div class="row">
            <div class="col-md-offset-3 col-sm-offset-3 col-md-7 col-sm-7">
              <div class="about-bottom-item">
                <h3>
                  Explore new products
                </h3>
                <p>
                  Browse hundreds of new & unique products. ShopNow offers higher variety than any traditional brick &
                  mortar store, while making sure that each and every product is checked to meet our quality guidelines.
                </p>
              </div>
              <div class="about-bottom-item">
                <h3>
                  Save money
                </h3>
                <p>
                  We get the best prices for our customers by getting our products directly from the source. By
                  operating mostly online, we can offer more than 10,000 products for sale and pass on most of the
                  savings onto our customers.
                </p>
              </div>
              <div class="about-bottom-item">
                <h3>
                  Easy delivery & service
                </h3>
                <p>
                  Home deliveries or courier pickups outside Dhaka can also get expensive & a hassle for people shopping
                  online - so we even offer the easiest & lowest cost option of picking up your order from your nearest
                  ShopNow Hub or ShopNow Agent Pickup Point. And for any after sales Warranty, Returns & Refunds - our
                  nearest ShopNow Hub Manager is there at your service!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{>footer}}