{{>header}}
<section class="main-section">
  <div class="container">
    <div class="section-details">
      <div class="row">
        <div class="col-md-2 col-sm-2 mt-10 move-sec">
          {{>category}}
        </div>
        <div class="col-md-8 col-sm-8 mt-10 m-col-12">
          <div class="category-slider box-shadow">
            <div class="category-owl-slider owl-carousel owl-theme">
              <div class="item">
                <a href="category-sub-page.html">
                  <figure>
                    <img src="/assets/images/1.png" alt="appifylab">
                  </figure>
                  <div class="category-slider-caption">
                    <p>Wrist Watch</p>
                  </div>
                </a>
              </div>
              <div class="item">
                <a href="category-sub-page.html">
                  <figure>
                    <img src="/assets/images/2.png" alt="appifylab">
                  </figure>
                  <div class="category-slider-caption">
                    <p>Folding Mobile</p>
                  </div>
                </a>
              </div>
              <div class="item">
                <a href="category-sub-page.html">
                  <figure>
                    <img src="/assets/images/3.png" alt="appifylab">
                  </figure>
                  <div class="category-slider-caption">
                    <p>Mobile Phone</p>
                  </div>
                </a>
              </div>
              <div class="item">
                <a href="category-sub-page.html">
                  <figure>
                    <img src="/assets/images/4.png" alt="appifylab">
                  </figure>
                  <div class="category-slider-caption">
                    <p>Laptop</p>
                  </div>
                </a>
              </div>
              <div class="item">
                <a href="category-sub-page.html">
                  <figure>
                    <img src="/assets/images/5.png" alt="appifylab">
                  </figure>
                  <div class="category-slider-caption">
                    <p>Smart Watch</p>
                  </div>
                </a>
              </div>
              <div class="item">
                <a href="category-sub-page.html">
                  <figure>
                    <img src="/assets/images/6.png" alt="appifylab">
                  </figure>
                  <div class="category-slider-caption">
                    <p>Shirt</p>
                  </div>
                </a>
              </div>
              <div class="item">
                <a href="category-sub-page.html">
                  <figure>
                    <img src="/assets/images/7.png" alt="appifylab">
                  </figure>
                  <div class="category-slider-caption">
                    <p>Shoe</p>
                  </div>
                </a>
              </div>
              <div class="item">
                <a href="category-sub-page.html">
                  <figure>
                    <img src="/assets/images/8.png" alt="appifylab">
                  </figure>
                  <div class="category-slider-caption">
                    <p>Panjabi</p>
                  </div>
                </a>
              </div>
              <div class="item">
                <a href="category-sub-page.html">
                  <figure>
                    <img src="/assets/images/9.png" alt="appifylab">
                  </figure>
                  <div class="category-slider-caption">
                    <p>Sunglass</p>
                  </div>
                </a>
              </div>
              <div class="item">
                <a href="category-sub-page.html">
                  <figure>
                    <img src="/assets/images/10.png" alt="appifylab">
                  </figure>
                  <div class="category-slider-caption">
                    <p>Bike</p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{>footer}}